<html>
    <head>
      <title>10T</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      
    </head>
    <body>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

         <a class="navbar-brand" href="/"><img src="/static/logo.png" width="40" height="40"  alt="">10T</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

              <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
              </li>

              {% if current_user.is_anonymous %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('sat_coord') }}">Спутник</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('ant_coord') }}">Антенна</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('log') }}">Логирование</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ url_for('angels') }}">Углы</a></li>
              {% endif %}



            </ul>

         </div>
      </nav>

      <div class="container">
        <hr>
        {% with messages = get_flashed_messages() %} 

        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% endwith %}

      </div>

      {% block content %}{% endblock %}


    </body>
</html>

























